:root {
  --primary: #000000;
  --primary-text: #ffffff;
  --secondary: #9999996c;
  --secondary-text: #ffffff;
  --accent: #131313ad;
  --accent-text: #ffffff;
  --descent: #00000000;
  --text1: #0317c7c7;
  --text2: #064c85;
  --text3: #1b8506;
}
